[submodule "USERS/users_proto"]
	path = USERS/users_proto
	url = https://github.com/ruziba3vich/users_proto.git
[submodule "HOTELS/hotels_proto"]
	path = HOTELS/hotels_proto
	url = https://github.com/ruziba3vich/hotels_proto.git
[submodule "BOOKING/booking_proto"]
	path = BOOKING/booking_proto
	url = https://github.com/ruziba3vich/booking_proto.git
[submodule "GATEWAY/protos/hotels_proto"]
	path = GATEWAY/protos/hotels_proto
	url = https://github.com/ruziba3vich/hotels_proto.git
[submodule "GATEWAY/protos/users_proto"]
	path = GATEWAY/protos/users_proto
	url = https://github.com/ruziba3vich/users_proto.git
[submodule "BOOKING/hotels_proto"]
	path = BOOKING/hotels_proto
	url = https://github.com/ruziba3vich/hotels_proto.git
